#products-page {
  h2 {
    display: block;
    text-align: center;
    width: 100%;
  }
  loader {
    margin: 2rem auto;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products-list {
    margin: 0 -1rem 0 -1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 767px){
      justify-content: center;
      margin: 0;
    }
  }
}