<span
  class="icon left-icon"
  *ngIf="leftIcon"
  [innerHTML]="leftIcon"
  [ngClass]="{
    disabled: disabled,
    readonly: readonly
  }"
  (click)="!readonly && !disabled ? clickLeftIcon.emit() : null"
></span>
<input
  [name]="nameAttr || timeStamp"
  [id]="nameAttr || timeStamp"
  [placeholder]="placeholder"
  [value]="value"
  [type]="type || 'text'"
  [ngModel]="value"
  (ngModelChange)="change($event)"
  [disabled]="disabled"
  [readonly]="readonly"
  (keydown)="sharedKeyPress.emit($event)"
/>
<span
  class="icon right-icon"
  *ngIf="rightIcon"
  [innerHTML]="rightIcon"
  [ngClass]="{
    disabled: disabled,
    readonly: readonly
  }"
  (click)="!readonly && !disabled ? clickRightIcon.emit() : null"
></span>
