<ng-container *ngIf="product">
  <span
    class="badge"
    *ngIf="!toRemove"
    [title]="active ? 'Remover da Lista de desejos' : 'Adicionar a Lista de desejos'"
    (click)="toggle()"
    [ngClass]="{ active: active }"
    data-testid="badge"
  >
    <i class="fas fa-heart"></i>
  </span>
  <span class="cross" *ngIf="toRemove" title="Remover da Lista de desejos" (click)="toggle()" data-testid="cross">
    <i class="fas fa-times"></i>
  </span>
  <figure data-testid="figure">
    <img [src]="product?.image" [alt]="product?.title" [title]="product?.title" class="img-fluid" />
  </figure>
  <h6 data-testid="title">
    {{ product?.title }}
  </h6>
  <p data-testid="price">
    {{ product?.price | currency: product?.currencyId || 'BRL' }}
  </p>
</ng-container>
<ng-container *ngIf="!product">
  <h6 data-testid="title">Produto não existente</h6>
</ng-container>
