<div class="container" id="wishlist-page">
  <breadcrumb [itens]="itens"></breadcrumb>
  <div class="content">
    <loader *ngIf="loading" size="big"></loader>
    <div class="products-list" *ngIf="!loading">
      <product
        *ngFor="let product of products"
        [product]="product"
        (toggleItem)="toggleItem($event)"
        [active]="true"
        [toRemove]="true"
      ></product>
      <h2 *ngIf="!products?.length">Nenhum item adicionado a lista de desejos</h2>
    </div>
  </div>
</div>
